.abril-fatface-regular {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.fixed-top {
    transition: top 0.3s ease-in-out;
}

.fixed-top.hidden {
    top: -150px; /* Adjust as needed */
}
/*** Spinner Start */
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .8s ease-out, visibility 0s linear .5s;
    z-index: 99999;
    
 }

 #spinner.show {
     transition: opacity .8s ease-out, visibility 0s linear .0s;
     visibility: visible;
     opacity: 1;
     
     
 }
 .material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  }
  .icon {
    font-size: 30px;
    padding-top:10px;
    color:#000000;
  }
 .back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: flex;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    z-index: 99;
}

/*** Spinner End ***/


/*** Button Start ***/
.btn {
    font-weight: 600;
    
}
.btn:focus, .btn:active {
    outline: none;
    box-shadow: none;
    border: none;
}

.btn-square {
    width: 32px;
    height: 32px;
}

.btn-sm-square {
    width: 34px;
    height: 34px;
}

.btn-md-square {
    width: 44px;
    height: 44px;
}

.btn-lg-square {
    width: 56px;
    height: 56px;
}

.btn-square,
.btn-sm-square,
.btn-md-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.border-secondary{
    border-color: #000 !important;
}



/*.btn.border-secondary:hover {
    background: #000(--bs-secondary) !important;
    color: #000!important;
}
/*.btn:active,.btn:focus {
    box-shadow: none;
     color:none ;
}
*/
.rounded-pill{
    width: 189px;
    height: 40px;
    justify-content: center;
}
.rounded-pill2{
    width: 169px;
    height: 55px;
    justify-content: center;
}
 .active .color-change{
    color:#fff !important;
}
.tab-link .active{
    width: 189px;
    height: 40px;
    justify-content: center;
    color:white!important;
    text-decoration: white !important;
}

.form-control:focus {
    border-color: initial; /* or specify any other color you prefer */
    box-shadow: none; /* This removes the box-shadow effect */
    outline: none; /* This removes the outline when focused (be cautious with this as it affects accessibility) */
}

/*** Navbar Start ***/
.nav-link{
    color: black;
    background-color: #ffffff;
}

.nav-link:hover {
    color: black;
}

.fixed-top{
    background-color: #ffffff;
}

.navbar-brand{
    margin-right: 0px;
}

.navbar .navbar-nav .nav-link {
    padding: 10px 15px;
    font-size: 16px;
    transition: .5s;  
}

.navbar {
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}
#searchModal .modal-content {
    background: rgba(255, 255, 255, .8);
}

/* Dropdown Button */
.dropbtn {
    background: none;
    color: black !important;
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


/* Dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown content */
.dropdown-content {
    display: none;
    background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white */
    backdrop-filter: blur(5px); /* Apply blur effect */
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 7px;  
    padding-top: 10px;  
    padding-bottom: 10px;  
    margin-bottom:10px
}

/* Dropdown links */
.dropdown-content a {
    color: black;
    padding: 5px 15px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #fdc3b5;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}


/*** Navbar End ***/



/*** featurs Start ***/
.featurs .featurs-item .featurs-icon {
    position: relative;
    width: 120px;
    height: 120px;
}

.featurs .featurs-item .featurs-icon::after {
    content: "";
    width: 35px;
    height: 35px;
    background: var(--bs-secondary);
    position: absolute;
    bottom: -10px;
    transform: translate(-50%);
    transform: rotate(45deg);
    background: var(--bs-secondary);
    
}
/*** featurs End ***/


/*** service Start ***/
.service .service-item .service-content {
    position: relative;
    width: 250px; 
    height: 130px; 
    top: -50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

/*** service End ***/
.product-price {
    /* Add any styling you want for the regular price */
    color: red; /* Example color */
   /* Example: strike through the discount price */
}

.product-discount-price {
    color: #333; /* Example color */
    /* Add any styling you want for the discount price */

}

/*** Fruits Start ***/
.product{
    max-height: 422.06px;
}

#clickableAwesomeFont{
    cursor: pointer;
}

.fruite .tab-class .nav-item a.active {
    background: #f26b4e !important;
}

.fruite .tab-class .nav-item a.active span {
    color: var(--bs-white) !important; 
}


.fruite .fruite-categorie .fruite-name:active {
    background-color: #448bb5;
}
.fruite-name-bg{
    border-radius: 20px;
}

.fruite .fruite-categorie .fruite-name a {
    /* transition: 0.5s; */
    color: #000;
}

.fruite .fruite-categorie .fruite-name a:active {
    color: #fff;
}

/* .fruite .fruite-categorie .fruite-name a:hover {
    color: var(--bs-secondary);
} */

.fruite .fruite-item {
    height: 100%;
    transition: 0.5s;
}
.fruite .fruite-item:hover {
    box-shadow: 0 0 55px rgba(0, 0, 0, 0.4);
}


.fruite .fruite-item .fruite-img img {
    transition: 0.5s;
}

.fruite .fruite-item .fruite-img img:hover {
    transform: scale(1.3);
}
.pad{
    padding-top: 150px;
    padding-bottom: 150px;
}
@media(max-width:768px){
    .product{
        max-height: 441.6px;
    }
    .pad{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .shopping-cart-nav{
        margin-top:3px;
    }
    .search-nav{
        width:185px ;
        margin-left:10px;
    }
}

@media(max-width:435px){
    .product{
        max-height: 471.83px;
    }
}
/*** Fruits End ***/


/*** vesitable Start ***/
.vesitable .vesitable-item {
    height: 100%;
    transition: 0.5s;
}

.vesitable .vesitable-item:hover {
    box-shadow: 0 0 55px rgba(0, 0, 0, 0.4);
}

.vesitable .vesitable-item .vesitable-img {
    overflow: hidden;
    transition: 0.5s;
    border-radius: 10px 10px 0 0;
}

.vesitable .vesitable-item .vesitable-img img {
    transition: 0.5s;
}

.vesitable .vesitable-item .vesitable-img img:hover {
    transform: scale(1.2);
}

.vesitable .owl-stage {
    margin: 50px 0;
    position: relative;
}

.vesitable .owl-nav .owl-prev {
    position: absolute;
    top: -8px;
    right: 0;
    color: var(--bs-primary);
    padding: 5px 25px;
    border: 1px solid var(--bs-secondary);
    border-radius: 20px;
    transition: 0.5s;

}

.vesitable .owl-nav .owl-prev:hover {
    background: var(--bs-secondary);
    color: var(--bs-white);
}

.vesitable .owl-nav .owl-next {
    position: absolute;
    top: -8px;
    right: 88px;
    color: var(--bs-primary);
    padding: 5px 25px;
    border: 1px solid var(--bs-secondary);
    border-radius: 20px;
    transition: 0.5s;
}

.vesitable .owl-nav .owl-next:hover {
    background: var(--bs-secondary);
    color: var(--bs-white);
}
/*** vesitable End ***/


/* Centered text */
/*.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* max-height: 259.2px; 
  }*/

 
  
  .display-3{
      font-size: 60px;
      margin-left: 100px;
      color:#000;
  }
  


 
  /*.banner .banner-btn:hover {
      background: var(--bs-primary);
  }
  
  .banner-btn{
      width: 189px; 
      height: 24px;
      padding: 30px 48px;
  }*/
  .bannerdescription {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    max-width: 600px;
    margin-left:100px;
    color:#000 !important;
}


  
  @media (max-width: 768px) {
      .display-3{
          font-size: 32px !important;
          margin-left: 30px !important;
      }    
      .bannerdescription {
        font-size: 16px;
        max-width: 90%;
        margin-left: 30px!important;
    }
   
  }
  
  @media (max-width: 435px){
      .display-3{
          font-size: 15px;
          margin-top: 35px;
          
      }
  
      .bannerdescription{
          font-size: 10px;
          margin-bottom: 8px;
      }
  
      .banner{
          margin-top: 70px;
      }
  
      .banner-btn{
          width: 64px;
          height: 16px;
          font-size: 8px;
          padding: 0;
      }
  }
  /*** Banner Section End ***/


/*** Facts Start ***/
.counter {
    height: 100%;
    text-align: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
}

.counter i {
    font-size: 60px;
    margin-bottom: 25px;
}

.counter h4 {
    color: var(--bs-primary);
    letter-spacing: 1px;
    text-transform: uppercase;
}

.counter h1 {
    margin-bottom: 0;
}
/*** Facts End ***/


/*** testimonial Start ***/
.testimonial .owl-nav .owl-prev {
    position: absolute;
    top: -58px;
    right: 0;
    color: var(--bs-primary);
    padding: 5px 25px;
    border: 1px solid var(--bs-secondary);
    border-radius: 20px;
    transition: 0.5s;
}

.testimonial .owl-nav .owl-prev:hover {
    background: var(--bs-secondary);
    color: var(--bs-white);
}

.testimonial .owl-nav .owl-next {
    position: absolute;
    top: -58px;
    right: 88px;
    color: var(--bs-primary);
    padding: 5px 25px;
    border: 1px solid var(--bs-secondary);
    border-radius: 20px;
    transition: 0.5s;
}

.testimonial .owl-nav .owl-next:hover {
    background: var(--bs-secondary);
    color: var(--bs-white);
}
/*** testimonial End ***/
/*** Single Page Start  ***/
.pagination {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.pagination .page-link {
    color: #ff4500; 
    border-color: #000; 
    box-shadow: none; 
}

.pagination .page-item.active .page-link {
    background-color: #ff4500; 
    border-color: #000; 
    box-shadow: none; /* Remove any shadow */
    outline: none; /* Remove the focus outline */
}

.pagination .page-link:hover {
    background-color:white; 
    border-color: #000; 
    color: white; 
    box-shadow: none; /* Remove any shadow */
    outline: none; /* Remove the focus outline */
}
.pagination a.active {
    border: none ;
    box-shadow: none; /* Remove any shadow */
    outline: none; /* Remove the focus outline */
}
.nav.nav-tabs .nav-link.active {
    border-bottom: 1px solid  #474747;
}



/*** Single Page End ***/


/*** Footer Start ***/
.btn-contact {
    font-weight: 600;
    color: rgb(71, 71, 71);
}
/*** Footer Start ***/
.btn-contact:hover {
    font-weight: 600;
    color: #000;
}
.footer .footer-item .btn-link {
    line-height: 35px;
    color: #474747;
    transition: 0.5s;
}

.footer .footer-item .btn-link:hover {
    color:  #000 !important;
}

.footer .footer-item p.mb-4 {
    line-height: 35px;
}
/*** Footer End ***/


.card {
    position: relative; /* Ensure proper positioning */
    z-index: 1000; /* Ensure card appears above other elements */
}
.red-text {
    color: red;
  }
  .img-zoom-container {
    position: relative;
  }
  
  .img-zoom-lens {
    position: absolute;
    border: 1px solid #d4d4d4;
    /*set the size of the lens:*/
    width: 40px;
    height: 40px;
  }
  
  .img-zoom-result {
    border: 1px solid #d4d4d4;
    /*set the size of the result div:*/
    width: 300px;
    height: 300px;
  }
/* Loader styles */
.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; /* Ensure the loader is on top */
    border: 8px solid #f3f3f3; /* Light grey border */
    border-top: 8px solid #3498db; /* Blue border on top */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite; /* Spin animation */
    display: none; /* Initially hidden */
}

.cart-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333; /* Adjust as needed */
}

.cart-icon {
    color: #f26b4e; /* Adjust as needed */
    margin-right: 5px; /* Adjust spacing between icon and count */
}

.cart-items {
    font-size: 18px; /* Adjust as needed */
    font-weight: bold;
    color:#000000; /* Adjust as needed */
}

.close-button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    float:right;
}
.stripe-paynow{
    background-color: #6772e5;
    color: #ffffff;
    font-size: 16px; 
    padding: 10px 20px; 
    border: none;
    border-radius: 4px;
     cursor: pointer;
}
.stripe-paynow:hover {
    background-color: #5469d4;
  }

  /*rating star*/
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:inherit;
    top:-9999px;
 
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

/* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */

/*end*/
  .user-photo {
    width: 40px; /* Adjust according to your design */
    height: 40px; /* Adjust according to your design */
    border-radius: 50%; /* Ensures the image is round */
    object-fit: cover; /* Ensures the image covers the entire area */
}

/*index age select tab*/
.tab-link.active {
    background-color:none !important;
    background-image: linear-gradient(to right, #f8a239, #f26b4e);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px !important;
    border:none !important;

}


.tab-link{
    background-color:#fff!important;
    border-radius: 10px !important;
    border:solid 1px !important;
    border-color: #000 !important;
}
/**/

.chat-wrapper {
    display: flex;
    height: 100%;
    border:1px solid #ddd;
    border-radius: 10px;
}

.chat-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.sidebar {
    width: 25%;
    border-right: 1px solid #ddd;
    padding: 10px;
    box-sizing: border-box;
}

.chat-area {
    width: 75%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 75vh; /* Full viewport height */
    position: relative;
}

/* Header styles */
.top {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}


.messages {
    flex-grow: 1;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 10px;

}

/* Footer styles */
.bottom {
    padding: 10px;
    border-top: 1px solid #ddd;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

/* Textarea styles */
.textareachat {
    width: 85%;
    border: none;
}
.contact-item.active {
    background-color: #f0f0f0;
  }
.contact-name{
    padding-top:10px;
}
/* Send button styles */
.send-button {
    background-color: #ff6600; /* Orange background */
    color: #fff;               /* White text */
    border: none;             /* Remove border */
    padding: 10px 20px;       /* Add padding */
    border-radius: 5px;       /* Rounded corners */
    font-size: 16px;          /* Font size */
}

.send-button:hover {
    background-color: #e65c00; /* Darker orange on hover */
}

.send-button:focus {
    outline: none;            /* Remove default focus outline */
}

/* Responsive styles */
@media (max-width: 768px) {
    .chat-container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #ddd;
    }
    .chat-area {
        width: 100% !important;
    }
    .bottom {
        flex-direction: row !important;
        padding: 5px;
    }
    .textareachat{
        width:80% !important;
        margin-bottom: 5px;

    }
    .messages {
        padding: 5px;
    }
     
}

@media (max-width: 480px) {
    .contact-image {
        width: 40px;
        height: 40px;
    }

    .user-photo {
        width: 40px;
        height: 40px;
    }

    .top {
        flex-direction: row !important;
        align-items: flex-start;
        padding: 5px;
        width: 300px !important;
    }

    .messages {
        padding: 5px;
        font-size: 14px; /* Smaller text for better fit */
        
    }
    .chat-area {
        width: 100% !important;
    }
    .bottom {
        padding: 5px;
    }
    .textareachat{
        width:75% !important;
        margin-bottom: 5px;

    }
     
  
    .send-button {
        padding: 5px 8px;
        font-size: 14px; /* Adjust font size for smaller buttons */
    }

}
  .send-button {
    background-color: #ff6600; /* Orange background */
    color: #fff;               /* White text */
    border: none;             /* Remove border */
    padding: 10px 20px;       /* Add padding */
    border-radius: 5px;       /* Rounded corners */
    font-size: 16px;          /* Font size */
}

.send-button:hover {
    background-color: #e65c00; /* Darker orange on hover */
}

.send-button:focus {
    outline: none;            /* Remove default focus outline */
}
.messages .left {
    text-align: left;
  }
  .message.right {
    text-align: right;
}
small{
    padding-left:10px;
}

/**/
.btn-primary { 
    background-image: linear-gradient(to right, #f8a239, #f26b4e);
     box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2) ;
 width: 169px;
height: 55px;
 border-radius: 10px;
 font-size: 24px;
font-weight: 400;
 -webkit-text-stroke: #fff ;
 -webkit-text-stroke-width: 1px;
 display:flex;
 align-items: center;
 justify-content: center;
 margin: auto;
 border:none;
 background-color:none;
} 

/* Change text color to white on hover */
.btn-primary:hover {
    color: #fff;

}

/* Remove border and shadow on focus */
.btn-primary:focus {
    outline: none !important; /* Remove any default focus outline */
    box-shadow: none !important; /* Remove box shadow on focus */
    border: none; /* Ensure no border is applied on focus */
    color: #fff !important;
}
.btn4 { 
    background-image: linear-gradient(to right, #f8a239, #f26b4e);
     box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2) ;
     width: 220px;
     height: 50px;
     justify-content: center;
 border-radius: 10px;
 -webkit-text-stroke: #fff ;
 -webkit-text-stroke-width: 1px;
 display:flex;
 align-items: center;
 margin: auto;
 border:none;
 background-color:none;
 letter-spacing: 2px;
 font-weight: 400;
} 

.btn5 { 
    background-image: linear-gradient(to right, #f8a239, #f26b4e);
     box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2) ;  
     justify-content: center;
 border-radius: 10px;
 -webkit-text-stroke: #fff ;
 -webkit-text-stroke-width: 1px;
 display:flex;
 align-items: center;
 justify-content: center;
 margin: auto;
 border:none;
 background-color:none;
 letter-spacing: 2px;
font-weight: 400;
} 

.btn3{
    width: 198px;
     height: 47px;
     display:flex;
     align-items: center;
     justify-content: center;
     margin: auto;
     padding: 20px 20px;
    border: none;
     outline: none;
     position: relative;
    border-radius: 10px;
     background: linear-gradient(to right, #f8a239, #f26b4e);
     z-index: 1;
     color: #f26b4e !important;

    }
    
   
    .btn3::before {
     content: "";
     position: absolute;
     top: 1px;
     right: 1px;
    bottom: 1px;
     left: 1px;
     background-color: white;
     border-radius: 9px;
     z-index: -1;
    }
    
 
  /*** About Us Start ***/
.accordion-button:focus {
    border: none;
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    box-shadow: none;
    background-color: white;
}

@media (max-width: 1024px){
    .aboutus_des{
        padding: 0 100px 0 100px !important;
    }
}

@media (max-width: 435px){
.aboutus_des{
    padding: 0px !important;
}

.aboutus_title2{
    font-size: 21px !important;
}

.aboutus_icon{
    width: 90px !important;
}
}

.gradient-icon {
    width: 100px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    font-size: 90px;
    background: linear-gradient(to right, #f8a239, #f26b4e);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
/*** About Us End ***/
/*contact us*/
.gradient-icon2 {
    background: linear-gradient(to right, #f8a239, #f26b4e);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
 /*** Sell on ArtNest Start ***/

@media (max-width: 1024px) {

    .centered{
        width: 700px;
    }

    .sellonArtNesttitle1{   
        margin-bottom: 0 !important;
    }    

    .sellonArtNesttitle2{
        font-size: 18px;
    }    

    .sellonArtNestdes{
        font-size: 16px !important;
       color: black; 
         justify-content: center; 
          display: flex;
    } 

}      
@media (max-width: 435px){

 
    .sellonArtNestbanner1{
        height: 450px !important;
      
    }

        .sellonArtNesttitle1{ 
            font-size: 18px;    
        }    
    
        .sellonArtNesttitle2{
            font-size: 16px;
        }    
    
        .sellonArtNestdes{
            font-size: 14px !important;
            margin-bottom: 10px !important;
            color: black; 
         justify-content: center; 
          display: flex;
        } 
    
        .sellonArtNesttitle3{
            font-size: 20px;
            margin-bottom: 10px !important;
            color: black; 
            font-weight: 700; 
              font-family: 'Open Sans', sans-serif !important;
        } 
       
    }
    /*** Sell on ArtNest End ***/
    
    input[type="checkbox"]:checked {
        background-color: orange; /* Orange background for checked state */
        border: none;
    }

    input[type="checkbox"]:focus {
        outline: none;
        box-shadow: none; /* Remove any drop shadow or focus outline */
    }
    :root {
        --bs-primary: #fff !important; /* Sets the primary color to white globally */
    }
    a{
        color: black !important;
    }
    
    .section-text a{
        color: #f26b4e !important;
        font-weight: 600;
        font-size: 19px;
    }

   /*order*/
   .table-orange {
    background-color: #FF8C00; /* Dark orange background */
}
.table-orange th {
    color: #FFFFFF; /* White text for table headers */
}

.table-row-link {
    display: block;
    color: inherit;
    text-decoration: none;
}
.clickable tr {
    cursor: pointer;
}
.clickable tr:hover {
    background-color: #f0f0f0; /* Add a background color on hover to indicate that the row is clickable */
}
/*profile*/

.profile-img {
    width: 200px; /* Ensure width and height are the same for a perfect circle */
    height: 200px; /* Same as width to maintain aspect ratio */
    border-radius: 50%; /* Creates a circular shape */
    object-fit: cover; /* Ensures the image covers the circle area */
    border: 2px solid #ddd; /* Optional: add a border for better visibility */

}

.profile-info {
    margin-top: 20px; /* Space between the image and text */
}

@media (max-width: 768px) {
   
    .profile-info {
        margin-left: 0; /* Remove left margin for smaller screens */
        margin-top: 10px; /* Add space above the text */
    }
}
@media (min-width: 768px) and (max-width: 991.98px) { /* For medium devices (tablets) */
    .profile-img {
        width: 175px;
    }

    .profile-info {
        margin-top: 20px;
    }

    .profile-info h1 {
        font-size: 1.75rem;
    }
}
/**/
.form-check-input {
    background-color: #ddd !important;
    border: 1px solid #ccc;
    box-shadow: none;
}

.form-check-input:checked {
    background-color: #ddd !important;
    border: 1px solid #ccc;
}

.form-check-input:focus {
    box-shadow: none;
    background-color: #FF8C00 !important;
}

.form-check-input:active {
    background-color: #ddd !important;
    border: 1px solid #ccc;
}

/*delivery*/
.form-check-newAdd {
    margin-right: 8px; /* Adjust the value as needed */
}